@{
    ViewData["Title"] = "Màn hình chính";
}

<h2 class="mb-4">Lớp học của tôi</h2>

<div class="d-flex flex-wrap gap-4">
    @foreach (var item in Model)
    {
        <div class="class-card">
            <div class="class-card-header" style="background: #0d6efd;">
                <h5 class="fw-bold">@item.ClassName</h5>
                <small>@item.Description</small>
            </div>

            <div class="class-card-footer">
                <i class="fa fa-camera"></i>
                <i class="fa fa-folder"></i>
                <i class="fa fa-ellipsis-vertical"></i>
            </div>
        </div>
    }
</div>
